<sly-field>
    <el-tabs type="border-card" class="el-tabs-cards" v-model="state.motDataset">
        <el-tab-pane name="mot">
            <el-radio slot="label" v-model="state.motDataset" label="mot">
                MOTChallenge datasets
            </el-radio>
            <sly-field>
                <el-checkbox-group v-model="state.currDatasets">
                    <div class="mt5">
                        <el-checkbox label="MOT15"></el-checkbox>
                    </div>
                    <div class="mt5">
                        <el-checkbox label="MOT16"></el-checkbox>
                    </div>
                    <div class="mt5">
                        <el-checkbox label="MOT17"></el-checkbox>
                    </div>
                    <div class="mt5">
                        <el-checkbox label="MOT20"></el-checkbox>
                    </div>
                </el-checkbox-group>

              <div class="mt5">
                <el-checkbox v-model="state.testData">Upload test data
                </el-checkbox>
              </div>

            </sly-field>
        </el-tab-pane>
        <el-tab-pane name="custom">
            <el-radio slot="label" v-model="state.motDataset" label="custom">
                Custom dataset
            </el-radio>
            <sly-field title="Path to tar file" description="Copy path in Team Files">
                <el-input v-model="state.dsPath" placeholder="Path to archive in Team Files"></el-input>
            </sly-field>
        </el-tab-pane>
    </el-tabs>
</sly-field>